.path-mod-mgroup .group .individual {
    border: 1px solid #ccc;
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 15px;
}

.path-mod-mgroup .group {
    /*
    border: 1px solid #ccc;
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    */
    
    padding-right: 25px;
}