.path-mod-mgroup .group {
    border: 1px solid #ccc;
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.path-mod-mgroup .individual {
    border: 1px solid #ccc;
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 16px;
}